# Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

# Nao permite que liste diretorios :D
Options -Indexes

## Mod_rewrite in use.
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.divasul\.com\.br
RewriteRule (.*) http://divasul.com.br/$1 [R=301,L]

# /admin para /cms
Redirect /admin http://divasul.com.br/cms

# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]