# Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

# Não permite que liste diretorios :D
Options -Indexes

## Mod_rewrite in use.
RewriteEngine On

# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
